.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.warning-focus {
    border-color: #ffc107 !important; 
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25) !important; 
  }
  
